apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: taskflow
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: taskflow-backend:1.0.0
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          value: "mongodb-service"
        - name: DB_NAME
          value: "taskflow"
        - name: PORT
          value: "3000"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: taskflow
spec:
  selector:
    app: backend
  ports:
  - port: 3000
    targetPort: 3000
  type: ClusterIP
